<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvBean" class="ru.otus.spring.csv.CSV"/>

    <bean id="studBean" class="ru.otus.spring.student.Stud"/>

    <bean id="testerApp" class="ru.otus.spring.app.TesterApp">
        <constructor-arg name="csv" ref="csvBean"/>
        <constructor-arg name="student" ref="studBean"/>
    </bean>


</beans>